:root {
  color-scheme: light dark;
  /* both supported */
}

body {
  --text-color: #222;
  --bkg-color: #fff;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #121212;
}

html {
  --text-color-normal: #0a244d;
  --text-color-light: #8cabd9;
}

html[data-theme='dark'] {
  --text-color-normal: hsl(210, 10%, 62%);
  --text-color-light: hsl(210, 15%, 35%);
  --text-color-richer: hsl(210, 50%, 72%);
  --text-color-highlight: hsl(25, 70%, 45%);
}

@media (prefers-color-scheme: dark) {

  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #121212;
  }

  body.light-theme {
    --text-color: #222;
    --bkg-color: #fff;
  }

  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }

  img:hover {
    opacity: 1;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

body,
input,
select,
textarea,
label,
.modal-content,
.iti__country-list,
li,
.bg {
  background: var(--bkg-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
strong,
input,
textarea,
p,
i,
.modal-content,
.iti__country-list,
li,
.bg {
  color: var(--text-color) !important;
}

::placeholder {
  color: rgb(194, 186, 186) !important;
}

label {
  background: transparent !important;
}

.form-control {
  border: none;
  border: 1px solid rgb(97, 94, 94);
}

.floating-label::after{
  background: transparent !important;
}

input:focus { 
  outline: none !important;
  border-color: #40c7e9 !important;
  box-shadow: none !important;
  color: #40c7e9 ;
}

.form-control:focus + .floating-label,.form-group:focus + .floating-label{
  color: #40c7e9 !important;
}


  textarea:focus { 
    outline: none !important;
    border-color: #40c7e9 !important;
    box-shadow: none !important;
    color: #40c7e9 ; 
  }
  
  .form-style input:focus {
    color:#40c7e9 !important;
}

.floating-label:focus {
  color: #40c7e9!important;
}

.logo{
  display: block;
}

.navLogo{
  margin-bottom: 0;
  width: 40%;
}

.nav-link.active {
  border:none !important;
  border-bottom: 4px solid rgb(105, 200, 212) !important;
  color: rgb(107, 228, 236) !important;
  background-color: transparent !important;;
}

.navBar{
  box-shadow: 2px 2px 20px rgb(179, 177, 177);
}

.tab {
  background-color: #fafafa;
}

.dark-theme .tab {
  background-color: #222 !important;
}